project:
  type: website
  output-dir: docs

execute:
  freeze: auto

website:
  title: "R / Python Bilingualism"
  navbar:
    left:
      - href: index.qmd
        text: "Home"
      - href: terms.qmd
        text: "Glossary"
      - href: basics.qmd
        text: "Fundamentals"
      - href: wrangle_data.qmd
        text: "Data Wrangling"
    right:
      - text: "Creators"
        menu:
          - href: https://njlyon0.github.io/
            text: "Nick J Lyon"
          - href: collabs.qmd
            text: "Contributing"
      - href: https://github.com/njlyon0/lyon_bilingualism
        icon: github
  page-footer:
    center: "Copyright 2023, Nicholas Lyon"
    background: secondary

format:
  html:
    theme:
      light: lyonlight.scss
      dark: lyondark.scss
    mainfont: Open Sans
    toc: true
    link-external-newwindow: true
    link-external-icon: false
