/*-- scss:rules --*/

// Code language semantic text colors
.r { color: #FF9B00; }
.py { color: #077DC2; }
.cli { color: #EB6534; }
.sql { color: #283E82; }

// Available colors
.free1 { color: #01BAEF; }
.free2 { color: #5DDBFE; }
.free3 { color: #F9B000; }
.free4 { color: #FFD879; }
